body {
    background-color: #194260;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
}

#name {
    font-size: 36px;
    padding: 10px;
    
}

#photo {
    width: 250px;
    height: 250px;
    background-image: url(../photos/Family.jpg);
    background-size: cover;
    padding: 10px;
}

#aboutme {
    font-size: 22px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 50px;
    
}

#work {
    max-width: 600px;
    margin: 0 auto;
}
.container {
}

.box {
    width: 150px;
    height: 150px;
    background-color: beige;
    display: inline-flex;
    
    padding: 10px;
}

.clorox {
    background-image: url(../photos/clorox.png);
    background-size: cover;
}

#skills {
    padding-top: 50px;
}
a:visited {
    color: white;
}